Synapse/Synapse Pipelines/02_pl_gold.json
{
    "name": "02_pl_gold",
    "properties": {
        "description": "Run all SP to move data from Silver to Gold",
        "activities": [
            {
                "name": "Get Metadata",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set variable1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlPoolSource",
                        "sqlReaderStoredProcedureName": "[config].[GetMetadataGold]",
                        "queryTimeout": "02:00:00"
                    },
                    "dataset": {
                        "referenceName": "SqlPoolTable1",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Run SP Gold",
                            "type": "SqlPoolStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "sqlPool": {
                                "referenceName": "fabmigration",
                                "type": "SqlPoolReference"
                            },
                            "typeProperties": {
                                "storedProcedureName": {
                                    "value": "@item().SPName",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Log Start Execution Pipeline",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlPoolSource",
                        "sqlReaderStoredProcedureName": "[config].[LogStartExec]",
                        "storedProcedureParameters": {
                            "PipelineName": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            },
                            "PipelineRunID": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            },
                            "PipelineWorkspace": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().DataFactory",
                                    "type": "Expression"
                                }
                            }
                        },
                        "queryTimeout": "02:00:00"
                    },
                    "dataset": {
                        "referenceName": "SqlPoolTable1",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "Set variable1",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Log Start Execution Pipeline",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "ID_Log",
                    "value": {
                        "value": "@activity('Log Start Execution Pipeline').output.firstRow.ID_Log",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Log End Success Execution Pipeline",
                "type": "SqlPoolStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "ForEach1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "sqlPool": {
                    "referenceName": "fabmigration",
                    "type": "SqlPoolReference"
                },
                "typeProperties": {
                    "storedProcedureName": "[config].[LogEndExec]",
                    "storedProcedureParameters": {
                        "IDLog": {
                            "value": {
                                "value": "@variables('ID_Log')",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "Status": {
                            "value": "Succeeded",
                            "type": "String"
                        }
                    }
                }
            },
            {
                "name": "Log End Failure Execution Pipeline",
                "type": "SqlPoolStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Get Metadata",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "ForEach1",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "sqlPool": {
                    "referenceName": "fabmigration",
                    "type": "SqlPoolReference"
                },
                "typeProperties": {
                    "storedProcedureName": "[config].[LogEndExec]",
                    "storedProcedureParameters": {
                        "IDLog": {
                            "value": {
                                "value": "@variables('ID_Log')",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "Status": {
                            "value": "Failed",
                            "type": "String"
                        }
                    }
                }
            }
        ],
        "variables": {
            "ID_Log": {
                "type": "Integer",
                "defaultValue": -1
            }
        },
        "annotations": [],
        "lastPublishTime": "2026-02-11T23:51:19Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}